﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Audium.Models.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@section Stylesheets {
    <link href="/css/auth.css" rel="stylesheet">
}

<div class="duotone"></div>

<div class="container">
    <img class="logo" src="~/img/logo.png" />

    <form role="form" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
        <h1>Login</h1>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="input text-input">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" placeholder="example@example.com" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input text-input">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" placeholder="Enter your password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input checkbox-input">
            <input type="checkbox" asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
            <span asp-validation-for="RememberMe"></span>
        </div>

        <div class="input submit-button">
            <input type="submit" value="Login" />
        </div>

        <a class="toggle-auth-link" href="@Url.Action("Register", "Auth")">Create an account</a>
    </form>
</div>
