﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Audium.Models.ViewModels.Auth.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@section Stylesheets {
    <link href="/css/auth.css" rel="stylesheet">
}

<div class="duotone"></div>

<div class="container align-right">
    <img class="logo" src="~/img/logo.png" />

    <form role="form" asp-action="Register">
        <h1>Register</h1>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="input text-input">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" placeholder="example@example.com" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input text-input">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" placeholder="Enter your password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input text-input">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="input submit-button">
            <input type="submit" value="Register" />
        </div>

        <a class="toggle-auth-link" href="@Url.Action("Login", "Auth")">Already registered ?</a>
    </form>
</div>
