﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audium - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet">
    @RenderSection("Stylesheets", required: false)
    <script src="~/lib/jquery.min.js"></script>
</head>
<body>
    @RenderBody()

    <script>
        $(".sidebar .checkbox-input").change(function () {
            console.log("change");
            $.ajax({
                url: "@Url.Action("ToggleDarkMode", "Utils")",
                type: "POST",
                success: function () {
                    if ($(".main-container").hasClass("dark")) {
                        $(".main-container").removeClass("dark");
                    }
                    else {
                        $(".main-container").addClass("dark");
                    }
                }
            })
        })
    </script>
</body>
</html>
