﻿<div class="sidebar">
    <a class="logo" href="@Url.Action("Index", "Home")"></a>

    <ul class="sidebar-links">
        <li class=@(ViewData["Page"] == "Home" ? "active" : "")><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Home</a></li>
        <li class=@(ViewData["Page"] == "New Playlist" ? "active" : "")><a href="@Url.Action("New", "Playlist")"><i class="fas fa-plus"></i> New Playlist</a></li>
    </ul>

    <div class="checkbox-input">
        <input type="checkbox" id="toggleDarkTheme" name="toggleDarkTheme" @(ViewBag.darkMode ? "checked" : "") />
        <label for="toggleDarkTheme">Dark Mode</label>
    </div>

    <form class="logout-button" id="logout" action="@Url.Action("Logout", "Auth")" method="post">
        <input class="button button-sm fancy-button" type="submit" value="Logout" />
    </form>
</div>