﻿@model IList<Audium.Models.Entities.Playlist>
@{
    ViewData["Title"] = "Home";
    ViewData["Page"] = "Home";
}
@section Stylesheets {
    <link href="/css/main.css" rel="stylesheet">
}

<div class="main-container @(ViewBag.darkMode ? "dark" : "")">
    <div class="content-container">
        @await Html.PartialAsync("_Navbar")

        <div class="content">
            <h1>My Playlists</h1>

            @if (Model.Count > 0)
            {
                <ul class="playlist-list">
                    @foreach (var playlist in Model)
                    {
                        <li class="playlist-entry">
                            <a class="button button-sm" href="@Url.Action("Show", "Playlist", new { id = playlist.PlaylistId })">Play</a>
                            <a href="@Url.Action("Show", "Playlist", new { id = playlist.PlaylistId })" class="playlist-title">@playlist.Name</a>
                            <span class="playlist-details">@(playlist.TrackPlaylists.Count > 0 ? playlist.TrackPlaylists.Count + " track" + (playlist.TrackPlaylists.Count > 1 ? "s" : "") : "Waiting to add tracks")</span>
                            <a class="edit-link" href="@Url.Action("Edit", "Playlist", new { id = playlist.PlaylistId })"><i class="fas fa-ellipsis-h"></i></a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No playlist</p>
            }
        </div>
    </div>
</div>