﻿* {
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
}

::selection {
    background-color: #ed91eb;
    color: white;
}

html {
    height: 100vh;
}

.duotone {
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url("/img/auth_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.duotone::before {
    height: 100%;
    display: block;
    background-color: #ff00cc;
    content: '';
    mix-blend-mode: darken;
}

.duotone::after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: #333399;
    content: '';
    mix-blend-mode: lighten;
}

body {
    margin: 0;
}

.container {
    width: 50%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
}

.align-right {
    float: right;
}

.logo {
    width: 300px;
    justify-self: center;
    align-self: center;
}

h1 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

form {
    height: 100%;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input {
    margin-bottom: 40px;
}

.text-input {
    width: 100%;
}

.input label {
    color: #a7a7a7;
    font-family: 'Montserrat', sans-serif;
}

.text-input input {
    width: 100%;
    border: none;
    border-bottom: solid #dadada 1px;
    padding: 10px 5px;
    font-size: 15px;
    transition: border-bottom ease-in-out 0.2s;
}

.text-input input::placeholder {
    color: #dadada;
}

.text-input input:focus {
    outline: none;
    border-bottom-color: #c010bc;
}

.checkbox-input input {
    opacity: 0;
    position: absolute;
    top: -1000px;
}

.checkbox-input label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-input label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    transition: border-color ease-in-out 0.2s;
}

.checkbox-input input:focus + label::before {
    border-color: #c010bc;
}

.checkbox-input input:checked + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(#e815e3 0%, #c010bc 75%, #a00d9d 100%);
    border-radius: 3px;
}

.submit-button {
    align-self: center;
}

.submit-button input {
    box-shadow: 4px 4px 12px -5px #c010bc;
    background-image: linear-gradient(#e815e3 0%, #c010bc 75%, #a00d9d 100%);
    color: white;
    border-style: none;
    border-radius: 0px 15px;
    padding: 11px 18px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform ease-out 0.1s;
}

.submit-button input:hover {
    transform: scale(1.05);
}

.submit-button input:focus {
    outline: none;
    transform: scale(1.05);
}

.toggle-auth-link {
    font-size: 14px;
    color: #a7a7a7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.field-validation-error {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffeded;
    border: 1px solid #e26f6f;
    border-radius: 5px;
    color: #e26f6f;
    font-size: 13px;
}

.validation-summary-errors {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffeded;
    border: 1px solid #e26f6f;
    border-radius: 5px;
}

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

.validation-summary-errors li {
    color: #e26f6f;
    font-size: 13px;
    list-style: none;
    margin-bottom: 5px;
}

.validation-summary-errors li:last-child {
    margin-bottom: 0;
}