﻿* {
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
}

::selection {
    background-color: #ed91eb;
    color: white;
}

body {
    margin: 0;
}

.main-container {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, #a731bb, #de0ec5);
    transition: background-color ease-in-out 0.2s, background-image ease-in-out 0.2s;
}

.content-container {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 250px 1fr;
    background-color: #fdfafd;
    border-radius: 0;
    transition: height ease-in-out 0.3s, background-color ease-in-out 0.2s;
}

.player-on .content-container {
    height: calc(100vh - 110px);
    border-radius: 0 0 20px 20px;
}

.sidebar {
    background-color: white;
    border-radius: 0;
    display: grid;
    grid-template: 70px 1fr 50px 50px / 1fr;
    justify-items: center;
    padding: 30px 40px;
    transition: background-color ease-in-out 0.2s;
}

.player-on .sidebar {
    border-radius: 0 0 0 20px;
}

.button {
    background-color: #c010bc;
    color: white;
    border-style: none;
    border-radius: 0px 15px;
    padding: 11px 18px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform ease-out 0.1s;
    text-decoration: none;
}

.button i {
    color: white;
    margin-right: 10px;
}

a.button {
    display: inline-block;
}

.button:hover {
    transform: scale(1.05);
}

.button:focus {
    outline: none;
    transform: scale(1.05);
}

.fancy-button {
    box-shadow: 4px 4px 12px -5px #c010bc;
    background-image: linear-gradient(#e815e3 0%, #c010bc 75%, #a00d9d 100%);
}

.fancy-button.danger {
    box-shadow: 4px 4px 12px -5px #d63a3a;
    background-image: linear-gradient(#ff4747 0%, #d63a3a 75%, #b73232 100%);
}

.button-sm {
    font-size: 11px;
    padding: 8px 15px;
}

.label {
    color: #a7a7a7;
    font-family: 'Montserrat', sans-serif;
}

.input {
    margin-bottom: 40px;
}

.text-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-input label {
    margin-bottom: 10px;
}

.input label {
    color: #a7a7a7;
    font-family: 'Montserrat', sans-serif;
}

.text-input input {
    width: 40%;
    min-width: 300px;
    border: none;
    border-bottom: solid #dadada 1px;
    padding: 10px 5px;
    font-size: 15px;
    background-color: transparent;
    transition: border-bottom ease-in-out 0.2s;
}

.text-input input::placeholder {
    color: #dadada;
}

.text-input input:focus {
    outline: none;
    border-bottom-color: #c010bc;
}

.logout-button {
    align-self: end;
}

.logo {
    width: 150px;
    height: 30px;
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo img {
    width: 150px;
}

.sidebar-links {
    justify-self: start;
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    list-style: none;
    margin-bottom: 35px;
}

.sidebar-links a,
.sidebar-links i {
    color: #a7a7a7;
    transition: color ease-in-out 0.2s;
}

.sidebar-links a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sidebar-links li:hover a,
.sidebar-links li:hover i {
    color: #c010bc;
}

.sidebar-links .active a,
.sidebar-links .active i {
    color: #c010bc;
}

.sidebar-links i {
    margin-right: 12px;
    width: 20px;
}

.checkbox-input input {
    opacity: 0;
    position: absolute;
    top: -1000px;
}

.checkbox-input label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #a7a7a7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#existing-tracks-list .checkbox-input label {
    font-weight: 100;
    padding-left: 35px;
}

#existing-tracks-list .checkbox-input label:hover {
    color: #c010bc;
}

#existing-tracks-list .checkbox-input input:checked + label {
    color: #c010bc;
    font-weight: 600;
}

.checkbox-input label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    transition: border-color ease-in-out 0.2s;
}

.checkbox-input input:focus + label::before {
    border-color: #c010bc;
}

.checkbox-input input:checked + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(#e815e3 0%, #c010bc 75%, #a00d9d 100%);
    border-radius: 3px;
}

.file-input {
    display: flex;
    align-items: center;
}

.file-input .button {
    margin-right: 20px;
}

.file-input input {
    opacity: 0;
    position: absolute;
    top: -1000px;
}

.file-input label {
    display: inline-block;
}

.file-input label i {
    margin-right: 5px;
    color: white;
}

.content {
    padding: 35px 75px;
    overflow: auto;
}

.content h1 {
    font-family: Montserrat, sans-serif;
    margin-bottom: 45px;
}

.content .playlist-list {
    margin: 0;
    padding: 0;
}

.content .playlist-entry {
    list-style: none;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 5px 0px #f9edf9;
    padding: 18px 35px;
    border-radius: 7px;
    display: grid;
    grid-template: 1fr / 100px 1fr 1fr 55px;
    align-items: center;
    justify-items: start;
}

.content .playlist-entry .playlist-title {
    font-weight: 600;
    text-decoration: none;
}

.content .playlist-entry .playlist-details {
    color: #a7a7a7;
}

.content .playlist-entry .edit-link {
    justify-self: end;
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: background-color ease-in-out 0.1s;
}

.content .playlist-entry .edit-link i {
    color: #a7a7a7;
}

.content .playlist-entry .edit-link:hover {
    background-color: #00000012;
}

.content .track-list {
    margin: 0;
    padding: 0;
}

.content .track {
    list-style: none;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 5px 0px #f9edf9;
    padding: 12px 35px;
    border-radius: 7px;
    display: grid;
    grid-template: 1fr / 60px 1fr 100px;
    align-items: center;
    transition: transform ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}

.content .track .track-title {
    font-weight: 600;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
}

.content .track.active {
    transform: scale(1.05);
}

.content .track.active .track-title {
    color: #c010bc;
}

.content .track.pause .track-play-button i::before {
    content: '\f04c';
}

.content .track-play-button {
    background-color: #c010cb;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    transition: background-color ease-in-out 0.15s;
}

.content .track-play-button:hover {
    background-color: #9f2ca9;
}

.content .track-play-button:focus,
.content .track-play-button:active {
    outline: none;
}

.content .track-play-button:focus {
    background-color: #9f2ca9;
}

.content .track-play-button i {
    color: white;
    font-size: 14px;
}

.content .track-delete-button {
    justify-self: end;
}

.content .track-delete-button button {
    background: none;
    border: none;
}

.content .track-delete-button button:hover {
    cursor: pointer;
}

.content .track-delete-button i {
    color: #e0e0e0;
    font-size: 20px;
}

.content .playlist-controls {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.content #add-tracks-link i {
    color: white;
    margin-right: 5px;
}

.content span.playlist-title-add-tracks {
    color: #c010bc;
}

.content #add-tracks-form {
    height: calc(100vh - 180px);
    display: grid;
    grid-template: 30px 1fr 100px 30px 150px / 1fr;
}

.content #add-tracks-form .track-add-button{
    align-self: center;
}

.content #existing-tracks-list {
    overflow: auto;
}

.content #existing-tracks-list ul {
    list-style: none;
    padding: 0;
    padding-right: 50px;
}

.content #existing-tracks-list li {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px #f9edf9;
    padding: 14px 18px;
    border-radius: 7px;
    transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}

.content p.and-or {
    font-family: Montserrat, sans-serif;
    color: #c010bc;
    font-weight: 600;
    font-size: 20px;
    align-self: center;
}

.content #edit-button {
    margin-top: 50px;
}

.player-container {
    height: 110px;
    display: grid;
    grid-template: 1fr / 1fr 200px 3fr 75px;
    align-items: center;
    padding: 0 30px;
}

.player-container #track-title {
    /*padding: 0 30px;*/
    color: white;
    font-weight: 600;
}

.player-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px;
}

.player-controls #play-button.pause i::before {
    content: "\f04c";
}

.player-container button,
.player-container a {
    background: none;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color ease-in-out 0.15s;
}

.player-container button:active,
.player-container a:active {
    outline: none;
}

.player-container button:focus,
.player-container a:focus {
    background-color: #33333324;
    outline: none;
}

.player-container button:hover,
.player-container a:hover {
    background-color: #33333324;
}

.player-container button i,
.player-container a i {
    color: white;
    font-size: 20px;
    transition: color ease-in-out 0.15s;
}

.player-controls #play-button i {
    font-size: 30px;
}

.player-controls #play-button {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.player-container #mute-button {
    justify-self: center;
}

.player-container #mute-button.active {
    justify-self: center;
    background-color: white;
}

.player-container #mute-button.active i {
    color: #c010bc;
}

.player-container #waveform {
    margin: 0 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fdfafd inset !important;
}




/*############################### DARK MODE ###############################*/

.dark *,
.dark .playlist-entry .playlist-details,
.dark .playlist-entry .edit-link i,
.dark .sidebar .sidebar-links li:not(.active) a,
.dark .sidebar .sidebar-links li:not(.active) a i,
.dark .checkbox-input label,
.dark .input label,
.dark .track-delete-button i {
    color: white;
    transition: color ease-in-out 0.2s;
}

.dark.main-container {
    background-color: #020202;
    background-image: none;
    transition: background-color ease-in-out 0.2s, background-image ease-in-out 0.2s;
}

.dark .logo {
    background-image: url("../img/logo-dark.png");
    transition: background-image ease-in-out 0.2s;
}

.dark .sidebar {
    background-color: #0e0e0e;
    transition: background-color ease-in-out 0.2s;
}

.dark .content-container {
    background-color: #0a0a0a;
    transition: height ease-in-out 0.3s, background-color ease-in-out 0.2s;
}

.dark .playlist-entry,
.dark .content .track-list .track {
    background-color: #0e0e0e;
    box-shadow: 0px 4px 5px 0px #060606;
    transition: all ease-in-out 0.2s;
}

.dark #existing-tracks-list li {
    background-color: #0e0e0e;
    box-shadow: 0px 2px 5px 0px #060606;
    transition: all ease-in-out 0.2s;
}

.dark .player-container #mute-button.active i {
    color: #020202;
    transition: color ease-in-out 0.2s;
}

.dark .text-input input::placeholder {
    color: #444444;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0a0a0a inset !important;
    -webkit-text-fill-color: white;
}