﻿@model Audium.Models.Entities.Playlist
@{
    ViewData["Title"] = "Edit";
}
@section Stylesheets {
    <link href="/css/main.css" rel="stylesheet">
}

<div class="main-container @(ViewBag.darkMode ? "dark" : "")">
    <div class="content-container">

        @await Html.PartialAsync("_Navbar")

        <div class="content">
            <h1>Edit @Model.Name</h1>

            <form role="form" action="@Url.Action("Edit", "Playlist", new { id = Model.PlaylistId })" method="post">

                <div class="input text-input">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" placeholder="Name of the playlist" />
                    <span asp-validation-for="Name"></span>
                </div>

                <input class="button fancy-button" type="submit" value="Edit" />

            </form>

            <form id="edit-button" role="form" action="@Url.Action("Delete", "Playlist", new { id = Model.PlaylistId })" method="post">

                <button type="submit" class="button button-sm fancy-button danger"><i class="fas fa-trash"></i>Delete this playlist</button>

            </form>
        </div>
    </div>
</div>