﻿@model Audium.Models.Entities.Playlist
@{
    ViewData["Title"] = "New Playlist";
    ViewData["Page"] = "New Playlist";
}
@section Stylesheets {
    <link href="/css/main.css" rel="stylesheet">
}

<div class="main-container @(ViewBag.darkMode ? "dark" : "")">
    <div class="content-container">

        @await Html.PartialAsync("_Navbar")

        <div class="content">
            <h1>New Playlist</h1>

            <form role="form" action="@Url.Action("New", "Playlist")" method="post" enctype="multipart/form-data">

                <div class="input text-input">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" placeholder="Name of the playlist" />
                    <span asp-validation-for="Name"></span>
                </div>

                <input class="button fancy-button" type="submit" value="Create" />

            </form>
        </div>
    </div>
</div>