﻿@model Audium.Models.Entities.Playlist
@{
    ViewData["Title"] = Model.Name;
}
@section Stylesheets {
    <link href="/css/main.css" rel="stylesheet">
}

    <div class="main-container @(ViewBag.darkMode ? "dark" : "")">
        <div class="content-container">

            @await Html.PartialAsync("_Navbar")

            <div class="content">
                <h1>@Model.Name</h1>

                <div class="playlist-controls">
                    <a class="button fancy-button" id="playlist-play-button" onclick="togglePlayPause()">Play</a>
                    <a class="button fancy-button" id="add-tracks-link" href="@Url.Action("Add", "Track", new { id=Model.PlaylistId })"><i class="fas fa-plus"></i> Add tracks</a>
                </div>

                <ul class="track-list">
                    @for (int i = 0; i < Model.TrackPlaylists.Count; i++)
                    {
                    var tp = Model.TrackPlaylists[i];
                    <li class="track" id="@i" data-track-id="@tp.Track.TrackId" data-path="@tp.Track.Path" data-name="@tp.Track.Name">
                        <a class="track-play-button"><i class="fas fa-play"></i></a>
                        <span class="track-title">@tp.Track.Name</span>
                        <form class="track-delete-button" method="post" action="@Url.Action("Delete", "Track", new { playlistId=Model.PlaylistId, trackId=tp.Track.TrackId })">
                            <button type="submit"><i class="fas fa-times"></i></button>
                        </form>
                    </li>
                    }
                </ul>
            </div>
        </div>

        <div class="player-container">
            <span id="track-title"></span>

            <div class="player-controls">
                <a onclick="previousTrack()"><i class="fas fa-step-backward"></i></a>
                <a id="play-button" onclick="togglePlayPause()"><i class="fas fa-play"></i></a>
                <a onclick="nextTrack()"><i class="fas fa-step-forward"></i></a>
            </div>

            <div id="waveform"></div>

            <a id="mute-button" onclick="toggleMute()"><i class="fas fa-volume-mute"></i></a>
        </div>
    </div>

<script src="~/lib/jquery.min.js"></script>
<script src="~/lib/wavesurfer.js"></script>
<script>
    let tracks = [];
    let currentTrack = 0;
    let started = false;

    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        barWidth: 2,
        barRadius: 2,
        cursorWidth: 0,
        barGap: 3,
        progressColor: '#ffffffd8',
        waveColor: '#ffffff28',
        responsive: 10,
        height: 70,
        hideScrollBar: true
    });

    $(document).ready(function () {
        $(".track").each(function () {
            tracks.push({
                id: $(this).data('track-id'),
                path: $(this).data('path'),
                name: $(this).data('name')
            })
        });
    });

    wavesurfer.on('ready', function () {
        if (!$(".main-container").hasClass("player-on")) {
            $(".main-container").addClass("player-on")
        }

        wavesurfer.play();
    });

    wavesurfer.on('finish', function () {
        nextTrack();
    });

    wavesurfer.on('play', function () {
        $("#playlist-play-button").text("Pause");
        $("#play-button").addClass("pause");
        $(".track.active").addClass("pause");
    });

    wavesurfer.on('pause', function () {
        $("#playlist-play-button").text("Play");
        $("#play-button").removeClass("pause");
        $(".track.pause").removeClass("pause");
    });

    function loadCurrentTrack() {

        if (!started) {
            started = true;
        }

        $(".track.active").removeClass("active");
        $(".track#" + currentTrack).addClass("active");

        $("#track-title").text(tracks[currentTrack].name);

        wavesurfer.load(tracks[currentTrack].path);
    }

    function nextTrack() {
        if (currentTrack == tracks.length - 1) {
            currentTrack = 0
        }
        else {
            currentTrack++;
        }

        loadCurrentTrack();
    }

    function previousTrack() {
        if (wavesurfer.getCurrentTime() > 3) {
            wavesurfer.seekTo(0);
        }
        else {
            if (currentTrack == 0) {
                currentTrack = tracks.length - 1
            }
            else {
                currentTrack--;
            }

            loadCurrentTrack();
        }
    }

    function togglePlayPause() {
        if (started) {
            wavesurfer.playPause();
        }
        else {
            loadCurrentTrack();
        }
    }

    function toggleMute() {
        wavesurfer.toggleMute();

        if ($("#mute-button").hasClass("active")) {
            $("#mute-button").removeClass("active")
        }
        else {
            $("#mute-button").addClass("active")
        }
    }

    $(".track-play-button").click(function () {
        if ($(this).closest(".track").hasClass("active")) {
            wavesurfer.playPause();
        }
        else {
            currentTrack = $(this).closest(".track").attr('id');

            loadCurrentTrack();
        }
    })
</script>
