﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Audium.Models.Entities.Track
@{
    ViewData["Title"] = "Add Tracks";
}
@section Stylesheets {
    <link href="/css/main.css" rel="stylesheet">
}

<div class="main-container @(ViewBag.darkMode ? "dark" : "")">
    <div class="content-container">
        @await Html.PartialAsync("_Navbar")

        <div class="content">
            <h1>Add Tracks to <span class="playlist-title-add-tracks">@ViewBag.Playlist.Name</span></h1>

            <form id="add-tracks-form" role="form" asp-action="AddOnPost" enctype="multipart/form-data">
                <label class="label">Existing tracks</label>

                <div id="existing-tracks-list">
                    <select name="existingTracks" id="existingTracks" multiple hidden></select>

                    <ul>
                        @foreach (var track in ViewBag.ExistingTracks)
                        {
                            <li class="checkbox-input">
                                <input id="@track.TrackId" name="@track.TrackId" type="checkbox" />
                                <label for="@track.TrackId">@track.Name</label>
                            </li>
                        }
                    </ul>
                </div>

                <p class="and-or">And / Or</p>

                <div class="file-input">
                    <label class="button button-sm fancy-button" for="newTracks"><i class="fas fa-chevron-circle-down"></i> Add New Files</label>
                    <input type="file" name="newTracks" id="newTracks" accept="audio/*" multiple />
                    <label class="label">0 file</label>
                </div>

                <div class="track-add-button">
                    <input class="button fancy-button" type="submit" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery.min.js"></script>
<script>
    $(".checkbox-input").change(function () {
        if ($(this).find("input").is(":checked")) {
            $("<option/>").attr("value", $(this).find("input").attr("id")).attr("selected", "true").appendTo("#existingTracks");
        }
        else {
            $("option[value=" + $(this).find("input").attr("id") + "]").remove();
        }
    })

    $(".file-input").change(function () {
        let msg = $(this).find("input")[0].files.length + " file" + ($(this).find("input")[0].files.length > 1 ? "s" : "");
        $(this).find(".label").text(msg);
    })
</script>